:root {
  --canvas-color: #f3efea;
  --brown-color: #351900;
  --orange-color: #ff8a35;
  --gray-color: #7e6f62;
  --green-color: #29f462;
  --on-canvas-color: var(--brown-color);
  --on-brown-color: var(--canvas-color);
  --on-orange-color: var(--brown-color);
  --main-margin: 5rem;
  --accent-color: var(--green-color);
  --background-color: var(--canvas-color);
  --foreground-secondary-color: var(--gray-color);
  --foreground-color: var(--on-canvas-color);
  --headings-font: "GT-Alpina-Typewriter";
  --body-font: FTHabit;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--body-font);
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: GT-Alpina-Typewriter;
  src: url("/fonts/GT-Alpina-Typewriter/GT-Alpina-Typewriter-Thin.otf") format("opentype"), url("/fonts/GT-Alpina-Typewriter/GT-Alpina-Typewriter-Thin.ttf") format("truetype"), url("/fonts/GT-Alpina-Typewriter/GT-Alpina-Typewriter-Thin.woff") format("woff"), url("/fonts/GT-Alpina-Typewriter/GT-Alpina-Typewriter-Thin.woff2") format("woff2");
}

@font-face {
  font-family: FTHabit;
  src: url("/fonts/FTHabit/FTHabit-Regular.otf") format("opentype"), url("/fonts/FTHabit/FTHabit-Regular.woff") format("woff"), url("/fonts/FTHabit/FTHabit-Regular.woff2") format("woff2");
}

@font-face {
  font-family: FTHabit;
  font-style: italic;
  src: url("/fonts/FTHabit/FTHabit-RegularItalic.otf") format("opentype"), url("/fonts/FTHabit/FTHabit-RegularItalic.woff") format("woff"), url("/fonts/FTHabit/FTHabit-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: FTHabit;
  font-weight: bold;
  src: url("/fonts/FTHabit/FTHabit-Medium.otf") format("opentype"), url("/fonts/FTHabit/FTHabit-Medium.woff") format("woff"), url("/fonts/FTHabit/FTHabit-Medium.woff2") format("woff2");
}

@font-face {
  font-family: FTHabit;
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/FTHabit/FTHabit-MediumItalic.otf") format("opentype"), url("/fonts/FTHabit/FTHabit-MediumItalic.woff") format("woff"), url("/fonts/FTHabit/FTHabit-MediumItalic.woff2") format("woff2");
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headings-font);
  text-transform: uppercase;
  font-size: 2.825rem;
  font-weight: 200;
  line-height: .9;
}

p {
  font-size: 1.25rem;
}

html, body {
  margin: 0;
  padding: 0;
}

section {
  background-color: var(--background-color);
  padding: 2.5rem;
}

.section-wrapper {
  flex-direction: column;
  display: flex;
}

.section-wrapper > article, .section-wrapper > header {
  border-left: 3px solid var(--foreground-color);
  border-right: 3px solid var(--foreground-color);
  padding: .125rem 1.75rem;
}

.section-wrapper > header {
  margin-bottom: 2rem;
}

.section-wrapper > article {
  margin-top: 2rem;
}

hr {
  border-top: 0;
  border-bottom-color: var(--foreground-color);
  border-width: 3px;
  align-self: center;
  width: calc(100% - 4rem);
}

a.get-in-touch {
  color: var(--foreground-color);
  text-transform: uppercase;
  font-family: var(--headings-font);
  z-index: 100;
  background-color: #fff;
  border-radius: 1.25rem;
  padding: .5rem 1.25rem;
  font-size: 1.25rem;
  text-decoration: none;
  position: fixed;
  top: 2.625rem;
  right: 4.25rem;
}

a.get-in-touch:visited {
  color: var(--foreground-color);
}

.page-header {
  height: 20rem;
}

.tagline-content {
  flex-direction: column;
  justify-content: space-between;
  min-height: 35rem;
  display: flex;
}

.tagline-heading {
  text-align: center;
  align-self: center;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.tagline-description {
  gap: 1rem;
  display: flex;
}

.tagline-description h3 {
  font-family: var(--body-font);
  text-transform: none;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: initial;
  margin-bottom: .25rem;
}

.tagline-description > div {
  flex-grow: 1;
  flex-basis: 33.3333%;
}

.who-we-are {
  --background-color: var(--orange-color);
  padding-bottom: 0;
}

.who-we-are-heading {
  height: 15rem;
}

.who-we-are article {
  gap: 2rem;
  display: flex;
}

.partner-bio {
  flex-grow: 1;
  flex-basis: 50%;
  padding-bottom: 5rem;
}

.hrs {
  align-self: center;
  gap: 4rem;
  width: calc(100% - 4rem);
  display: flex;
}

.hrs > hr {
  flex-basis: 50%;
}

.vr {
  border-left: 3px solid var(--foreground-color);
}

.partner-name {
  margin-bottom: 1rem;
}

.partner-title {
  font-family: var(--headings-font);
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.how-we-work {
  padding-top: 0;
}

.how-we-work > .section-wrapper {
  border-left: 3px solid var(--foreground-color);
  border-right: 3px solid var(--foreground-color);
  flex-direction: row;
  display: flex;
}

.how-we-work .spacer {
  border-right: 3px solid var(--foreground-color);
  flex-shrink: 0;
  flex-basis: calc(50% - 1px - 4rem);
  padding: 2rem;
  position: relative;
}

.how-we-work .spacer svg line {
  stroke: var(--foreground-color);
  stroke-width: 3px;
}

.how-we-work-content {
  padding: 2rem;
}

.how-we-work-content header {
  margin-bottom: 11rem;
}

.how-we-work-content ol {
  counter-reset: item;
  padding-left: 2rem;
}

.how-we-work-content li {
  counter-increment: item;
  margin-bottom: 2rem;
  list-style: none;
  position: relative;
}

.how-we-work-content li::marker {
  display: none;
}

.how-we-work-content li:before {
  content: "0" counter(item);
  color: var(--foreground-secondary-color);
  font-family: var(--headings-font);
  position: absolute;
  left: -2rem;
}

.how-we-work-content h3 {
  margin-bottom: 1rem;
}

.get-in-touch-section {
  --background-color: var(--brown-color);
  --foreground-color: var(--on-brown-color);
  color: var(--foreground-color);
  height: 40rem;
}

.get-in-touch-section .section-wrapper {
  border-left: 3px solid var(--foreground-color);
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 4rem);
  display: flex;
}

.get-in-touch-section header {
  border: none;
}

.get-in-touch-section hr:first-of-type {
  margin-bottom: 2rem;
}

.get-in-touch-section hr:last-of-type {
  margin-top: 1rem;
}

.get-in-touch-section hr {
  width: calc(100% - 2rem);
  transform: translateX(1rem);
}

.copy-email {
  flex-direction: c;
  justify-content: center;
  align-items: center;
  display: flex;
}

.copy-email button {
  color: var(--foreground-color);
  font-family: var(--body-font);
  background: none;
  border: none;
  border-radius: 3.75rem;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  transition: color .3s, background-color .3s;
  display: flex;
  position: relative;
}

.copy-email button:active {
  opacity: .8;
}

.copy-email button:before {
  content: "";
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}

.copy-email button:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.times {
  font-family: var(--headings-font);
  text-transform: uppercase;
  justify-content: space-between;
  padding: 0 1rem;
  display: flex;
}

.copy-description {
  opacity: 0;
  font-family: var(--headings-font);
  text-transform: uppercase;
  color: var(--on-brown-color);
  font-size: 1.5rem;
  transition: opacity .3s;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
}

.copy-email button:hover .copy-description {
  opacity: 1;
}
